/* Centrage et alignement de la section titre */
.tarif-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
    max-width: 1200px;
    padding: 0 50px;
  }
  
  /* Conteneur des 3 blocs tarifaires */
  .tarif-blocs {
    display: flex;
    justify-content: center;
    gap: 100px; 
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  /* Chaque bloc (titre + contenu) */
  .tarif-item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
  }
  
  /* Titres h3 bien alignés verticalement */
  .tarif-item h3 {
    font-size: 1.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    padding: 20px 30px 0 30px;
    height: 60px;
    display: flex;
    align-items: center;
  }
  
  /* Boîte de contenu stylisée */
  .contenu-carre {
    padding: 30px;
    box-sizing: border-box;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  /* Texte général */
  .contenu-carre p,
  .contenu-carre h4 {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    margin: 10px 0;
  }
  
  /* Tarifs */
  .contenu-carre h4 {
    color: #a5b4fc;
  }

  .contenu-carre span
  {
    color: white;
    font-style: italic;
    font-family: 0.2em;
  }
  

  @media screen and (max-width: 768px) {
    .tarif-blocs,.tarif-contact {
      flex-direction: column;
      align-items: center;
      gap: 40px; 
    }
  
    .tarif-item {
      width: 100%;
    }
  
    .contenu-carre {
      height: auto;
      padding: 20px;
    }
  }
  
